input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 32px;
  margin-right: 8px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input:hover {
  border-color: #000;
}

input:focus {
  outline: none;
  border-color: #4e75ff;
  color: #000;
}

input:disabled {
  border-color: #808080;
  color: #808080;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  min-height: 40px;

  background-color: #4e75ff;
  border: 1px solid transparent;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms ease-in;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  color: #2e2f42;
  text-transform: uppercase;
}
